html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/fc-barcelona-desktop-mgikaponxousbi8b.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
} 

